body{
	font-family: 'Lato', sans-serif;
}



/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-header {
	position: relative;
}
.ba-header .bg {
	background-color: rgba(60, 73, 85, 0.86);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.main-menu {
	position: absolute;
	top: 26px;
	width: inherit;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.menu {
	list-style: none;
	display: inline-flex;
	justify-content: space-between;
	width: 50%;
}

.menu-link {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.menu-link:hover{
	color: #48bf72;
}

.menu li:not(:last-child):after{
	content: "/";
	color: #646c74;
	margin-left: 45px;
}

.description {
	width: inherit;
	position: absolute;
	z-index: 999;
	bottom: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	color: white;
	font-family: 'Raleway', sans-serif;
	line-height: 15px;
}
h1 {
	font-size: 35px;
}
.description p {
	font-size: 24px;
	font-weight: 300;
}

#button {
	font-family: 'Lato', sans-serif;
	background-color: transparent;
	border: 2px solid #48bf72;
	height: 40px;
	width: 135px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
}

#button:hover{
	background-color: #48bf72;
	border: 2px solid #fff;
}

main {
	width: 100%;
}

.content {
	width: 1140px;
	margin: 0 auto;
}

#filtres {
	width: 80%;
	display: flex;
	margin: 0 auto;
}

#filtres ul {
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
}

#filtres li {
	display: inline-flex;
}
.filtr-link {
	text-decoration: none;
	border-radius: 4px;
	padding: 0px 14px;
	height: 32px;
	font-weight: bold;
	color: #3c4955;
	font-size: 16px;
	background-color: #eaeaea;
	display: flex;
	align-items: center;
}

.filtr-link:hover {
	background-color: #48bf72;
	color: white;
}

.portfolio {
	display: flex;
	width: 100%;
	border: 1px solid black;
}

#first-column {
	width: 40%;
	border: 1px solid red;
}
#second-column {
	width: 60%;
	border: 1px solid green;
}
#first-column a {
	display: flex;
	margin: 40px 20px 20px 40px;
}

#item1 {
	background: url(../images/Groupe-11.jpg) no-repeat;
	background-size: cover;
	height: 300px;
	text-decoration: none;
}
.explanation {
	color: white;
	text-align: center;
	width: 100%;
	display: none ;
	flex-direction: column;
	justify-content: center;
	line-height: 5px;
	background: rgba(72,191,114,0.9);
}

a:hover > .explanation {
	display: flex;
}

#item2 {
	background: url(../images/filters2.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	height: 485px;
	text-decoration: none;
}

#second-column a {
	display: flex;
	margin: 40px 40px 20px 20px;
}

#item3 {
	height: 435px;
	background: url(../images/Groupe-1.jpg) no-repeat;
	background-size: cover;
	text-decoration: none;
}

#item4 {
	background: url(../images/5-px-depth.jpg) no-repeat;
	background-size: cover;
	height: 350px;
	text-decoration: none;
}

.about {
	width: 100%;
	height: 500px;
	background: url(../images/men-computer.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 900;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.bg-about {
	position: absolute;
	background-color: rgba(60, 73, 85, 0.73);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#about-text {
	width: 30%;
	color: white;
	z-index: 800;
	position: absolute;
	right: 250px;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	line-height: 25px;
}

#about-text h2 {
	font-size: 2em;
	font-weight: bold;
	margin: 0px;
}
#about-text h3 {
	font-size: 1.5em;
	font-weight: 400;
}

#contact {
	width: 150px;
	height: 40px;
	border: 1px solid #3c4955;
	border-radius: 5px;
	color: #3c4955;
	text-transform: uppercase;
	background-color: transparent;
}

#contact:hover{
	color: #fff;
	background: #48bf72;
	border: 1px solid #fff;
}
.contact-form {
	width: 100%;
	height: 565px;
	display: flex;
	flex-direction: row;
}
#form-wrapper {
	width: 695px;
	margin: 0 auto;
}

#form-wrapper h2 {
	text-transform: uppercase;
	color: #48bf72;
	text-align: center;
	font-weight: 900;
	font-size: 26px;
	letter-spacing: 2px;
}

form {
	display: inline-block;
	width: 100%;
	font-weight: bold;
	color: #a6a5a5;
}

input::placeholder {
	color: #a6a5a5;
}

#name {
	width: 100%;
	height: 55px;
	border: 2px solid #3c4955;
	border-radius: 3px;
	float: left;
	outline: none;
	background-color: #f1f1f1;
	padding-left: 60px;
}

#input-name {
	position: relative;
	float: left;
	width: 47%;
}

.fa-user {
	position: absolute;
	text-align: center;
	padding: 10px;
	display: block;
	height: 55px;
	width: 50px;
	background-color: #3c4955;
	color: white;
	border-radius: 3px;
}

.fa-user::after {
	content: "";
	position: absolute;
	top: 43%;
	left: 50px;
	border-style: solid;
	border-width: 4px 0 4px 6px;
	border-color: transparent transparent transparent #3c4955;
}

#input-email {
	position: relative;
	float: right;
	width: 47%;
}

#email {
	width: 100%;
	height: 55px;
	border: 2px solid #3c4955;
	border-radius: 3px;
	float: right;
	outline: none;
	line-height: 20px;
	background-color: #f1f1f1;
	padding-left: 60px;
}

.fa-envelope-o {
	position: absolute;
	text-align: center;
	padding: 10px;
	display: block;
	height: 55px;
	width: 50px;
	background-color: #3c4955;
	color: white;
	border-radius: 3px;
}

.fa-envelope-o::after {
	content: "";
	position: absolute;
	top: 43%;
	left: 50px;
	border-style: solid;
	border-width: 4px 0 4px 6px;
	border-color: transparent transparent transparent #3c4955;
}

#messege {
	position: relative;
	clear: both;
	box-sizing: border-box;
	overflow: hidden;
}

::-webkit-input-placeholder {color:#48bf72;}
::-moz-placeholder          {color:#48bf72;}/* Firefox 19+ */
:-moz-placeholder           {color:#48bf72;}/* Firefox 18- */
:-ms-input-placeholder      {color:#48bf72;}

textarea {
	width: 100%;
	height: 225px;
	border: 2px solid #3c4955;
	border-radius: 3px;
	resize: none;
	outline: none;
	background-color: #f1f1f1;
	margin: 35px 0;
	padding: 15px 0 0 60px;
}
textarea:placeholder {
	color: #a6a5a5;
}


.fa-pencil {
	position: absolute;
	bottom: 38px;
	text-align: center;
	padding: 10px;
	display: block;
	height: 225px;
	width: 50px;
	background-color: #3c4955;
	color: white;
	border-radius: 3px;
}

.fa-pencil::after {
	content: "";
	position: absolute;
	top: 10%;
	left: 50px;
	border-style: solid;
	border-width: 4px 0 4px 6px;
	border-color: transparent transparent transparent #3c4955;
}

#envouer {
	width: 100%;
	height: 55px;
	background-color: #48bf72;
	color: white;
	outline: none;
	border: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 14px;
	font-weight: 900;
	transition: 1s;
}

#envouer:hover {
	background-color: white;
	color: #48bf72;
	border: 1px solid #48bf72;
	border-radius: 3px;
}

.ba-footer {
	width: 100%;
	height: 200px;
	background-color: #333333;
	display: flex;
}

#copyright {
	color: white;
	display: block;
	justify-content: center;
	align-content: center;
	width: 50%;
	text-align: center;
	font-size: 16px;
	line-height: 10em;
}
#www {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.social-list {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	list-style: none;
}
.social {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 20px;
	background-color: black;
	width: 50px; 
  	height: 29px;
	position: relative;
}

.social:after {
	content: "";
    position: absolute;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
	top: 100%;
    border-top: 14.43px solid black;
}

.social:before {
	content: "";
    position: absolute;
    width: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    bottom: 100%;
    border-bottom: 14.43px solid black;
}

.social-link {
	display: inline-flex;
	justify-content: space-around;
	color: white;
	text-decoration: none;
}

.social.twitter {
	background: #55acee;
}
.social.twitter:before {
	border-bottom: 14.43px solid #55acee;
}
.social.twitter:after {
	border-top: 14.43px solid #55acee;
}

.social.linkedin {
	background: #0976b4;
}
.social.linkedin:after {
	border-top: 14.43px solid #0976b4;
}
.social.linkedin:before {
	border-bottom: 14.43px solid #0976b4;
}

.social.globe {
	background-color: #ea4c89;
}

.social.globe:before {
	border-bottom: 14.43px solid #ea4c89;
}
.social.globe:after {
	border-top: 14.43px solid #ea4c89;
}


.social.behance {
	background: #1769ff;
}
.social.behance:after {
	border-top: 14.43px solid #1769ff;
}

.social.behance:before {
	border-bottom: 14.43px solid #1769ff;
}